body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

h1,
h2 {
    margin: 0;
    padding: 20px 0;
    text-align: center;
    background-color: #007ad9;
    color: white;
}

.odontogram {
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(8, 70px);
    gap: 10px;
    justify-content: center;
}

.patient-info label {
    display: block;
    margin: 10px 0;
}

@media (max-width: 768px) {
    .grid {
        grid-template-columns: repeat(4, 70px);
    }
}

@media (max-width: 480px) {
    .grid {
        grid-template-columns: repeat(2, 70px);
    }
}